@media (min-width: 992px) {
  .hero {
    height: 100vh;
    background: linear-gradient(180deg, #fde1ff, #e1ffea22 60%);
    display: flex;
  }
  .hero-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    line-height: 1.1;
  }
  .hero-left p {
    color: #171717;
    font-size: 4rem;
    font-weight: 700;
    text-shadow: 2px 4px 2px rgba(0, 0, 0, 0.2);
  }
  .hero-hand-icon {
    display: flex;
    align-items: center;
  }
  .heroImg {
    width: 450px;
    height: auto;
  }
  .handImg {
    width: 100px;
  }
  .hero-latest-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 341px;
    height: 70px;
    border-radius: 75px;
    margin-top: 30px;
    background: #ff4141;
    color: white;
    font-size: 22px;
    font-weight: 500;
    box-shadow: 2px 4px 2px rgba(0, 0, 0, 0.2);
  }
  .hero-right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .heroImage {
    max-width: 500px;
  }
}

@media (max-width: 992px) {
  .hero {
    width: 100vw;
    background: linear-gradient(180deg, #fde1ff, #e1ffea22 60%);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 0;
    margin: 0;
  }
  .hero-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
  }
  .hero-right {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .heroImg {
    width: 100px;
  }
  .handImg {
    width: 45px;
    margin-top: 30px;
  }
  .hero-left p {
    color: #171717;
    font-size: 1.5rem;
    font-weight: 700;
    text-shadow: 2px 4px 2px rgba(0, 0, 0, 0.2);
  }
  .hero-latest-btn {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    border-radius: 75px;
    background: #ff4141;
    color: white;
    font-size: 0.8rem;
    font-weight: 600;
    padding: 8px;
    margin-top: 15px;
    width: 128px;
    box-shadow: 2px 4px 2px rgba(0, 0, 0, 0.2);
  }
  .hero-latest-btn img {
    width: 15px;
  }
}
