@media (min-width: 992px) {
  .navbar {
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    box-shadow: 0 1px 3px -2px black;
  }
  .nav-logo {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  .nav-logo p {
    color: #171717;
    font-size: 1.5rem;
    font-weight: 600;
  }
  .nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 50px;
    color: #626262;
    font-size: 1.2rem;
    font-weight: 500;
  }
  .nav-menu li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    cursor: pointer;
  }
  .nav-menu hr {
    border: none;
    width: 80%;
    height: 3px;
    border-radius: 10px;
  }
  .nav-login-cart {
    display: flex;
    align-items: center;
    gap: 45px;
  }
  .nav-login-cart button {
    width: 157px;
    height: 58px;
    outline: none;
    border: 1px solid #7a7a7a;
    border-radius: 75px;
    color: #515151;
    font-size: 20px;
    font-weight: 500;
    background: white;
    cursor: pointer;
  }
  .nav-login-cart button:active {
    background: #f3f3f3;
  }
  .nav-cart-count {
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -35px;
    margin-left: -55px;
    border-radius: 11px;
    font-size: 14px;
    background: red;
    color: white;
  }
  .bars-solid {
    display: none;
  }

  .Link,
  a {
    text-decoration: none;
    color: #626262;
    font-size: 1.5rem;
    font-weight: 500;
  }
}

@media (max-width: 992px) {
  .bars-solid {
    width: 35px;
    margin-right: 2rem;
  }
  .navImg {
    width: 40px;
  }
  .navbar {
    margin: 0;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 16px;
    align-items: center;
    height: 45px;
  }
  .nav-menu {
    display: none;
  }
  .nav-login-cart {
    display: none;
  }
  .nav-title {
    font-weight: 600;
  }
  .Link,
  a {
    text-decoration: none;
    color: #626262;
    font-size: 1.1rem;
    font-weight: 500;
  }
  .dropdown-menu {
    width: 100vw;
    display: flex;
    flex-direction: row;
    background-color: white;
    position: absolute;
    top: 75px;
    left: 0%;
    z-index: 999;
    justify-content: center;
  }
  .dropdown-menu a {
    padding: 30px 15px;
    display: block;
  }
  .nav-cart-count {
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -35px;
    margin-left: -55px;
    border-radius: 11px;
    font-size: 14px;
    background: red;
    color: white;
  }
  .nav-login-cart button {
    display: none;
  }
  .nav-login-cart {
    display: flex;
    align-items: center;
    gap: 45px;
    margin-left: 80px;
  }
}

.login-button {
  box-shadow: 2px 4px 2px rgba(0, 0, 0, 0.2);
}
.navbar a {
  text-shadow: 2px 4px 2px rgba(0, 0, 0, 0.1);
}
